global
        log /dev/log    local0
        log /dev/log    local1 notice
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        timeout connect 5s  
        timeout client  50s  
        timeout server  50s  

listen stats
        bind *:81
        mode http
        stats enable
        stats refresh 30s
        stats uri /stats
        stats hide-version
        stats auth admin:admin

listen kubernetes-apiserver
        bind *:6443
        mode tcp
        option log-health-checks
        timeout client 300s
        timeout server 300s
        balance roundrobin
        server k8s-master-01 192.168.1.11:39045 check check-ssl verify none
